<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RecogMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01B765691F87BD53000BDBAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01B7657F1F87BD54000BDBAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01B7658A1F87BD54000BDBAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
